/log
/test
/coverage
.DS_Store
.emacs.desktop.lock
/config/settings/local.rb
/dump.sql
/tmp
/vendor/gems/raspell-1.1/ext/Makefile
/vendor/gems/raspell-1.1/ext/mkmf.log
/vendor/gems/raspell-1.1/ext/raspell.bundle
/vendor/gems/raspell-1.1/ext/raspell.o
/vendor/gems/raspell-1.1/lib/raspell.bundle
doc/api
#*
.#*
*~
/public/javascripts/applicaiton-all.js
/public/stylesheets/advertiser-home.css
/public/stylesheets/application-main.css
/db/development_structure.sql
